<html>
  <head>
  <style type="text/css">
table
  {
  border-collapse:collapse;
  }

table, th,td
  {
  border:1px solid green;
  }
  th{background-color:#A7C942;
  color:#ffffff;}
   tr.alt td
   {
  color:#000000;
  background-color:#EAF2D3;
  }
}
  </style>
    <title>{% block title %}缺省标题{% end %}</title>
    {% block js %}{% end %} 
  </head>
  <body>
    <table border=1 width=45%>
      <tr style="height=200px;">
        <th>Header</th> 
      <tr >
        <td style='width:10em'>学生清单
        <ul>
          <li><a href="/">返回主页</a></li>
          <li><a href="/stulist">学生信息</a></li>
        </ul>
        </td>
        <td>
        {% block content %}
        {% end %}          
        </td>
      </tr>
    </table>
  </body>
</html>